header{
    box-shadow: rgba(140, 140, 140, 0.35) 0px 5px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:15px 25px;
    a{
        text-decoration: none;
        color: black;
    }
    #header-name{
        color: rgb(95, 144, 164);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    h1{
        font: {
            size: 30px;
        }
    }
    ul{
        padding: 0;
        display: flex;
        list-style: none;
        font-size: 20px;
        #sign-out, #sign-in ,#sign-up{
            border: 1px solid rgb(47, 51, 47);
            padding: 10px;
            margin-right: 5px;
            background-color: white;
        }
        #user-name{
            padding: 10px;
            margin-right: 10px;
        }
        
    }
}